body {
    color: #ffffff;               /* Dark gray */
    background-color: #131212; /* Light gray */
    border: 10px solid #5D6063;
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255); 
    margin-left: 20%;
    margin-right: 20%;
  }
  h1, p {
    background-color: #4d5c6be0;    /* Light gray */
  }
  h1 {
    padding: 50px;
    border: 10px solid #5D6063;
  }